.pontainer_Search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.search-container-wrapper {
  background-color: white;
  padding: 0px 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; 
  box-sizing: border-box; 
  margin-bottom: 10px;
}

.Search-Child1 {
  display: flex;
  justify-content: space-between;
  width: 100%;
}




.Search-Child1 {
  display: flex;
  justify-content: space-between;  
  width: 100%; 
}

.btn-dark {
  margin-top: 10px;
  background-color: darkblue !important;
  color: white; 
  border: none; 
}

.btn-dark:hover {
  background-color: #001f3f !important; 
}
